<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="true"/>
  <arg name="realsense_enabled" default="false"/>

  <include file="$(find ctu_imr)/launch/playpen.launch" />

  <include file="$(find ctu_imr)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
  </include>

</launch>
